<section class="color-iphone" id="choose">
   <div class="color-iphone__container" id="color">
      <h2>CHOOSE YOUR COLOR</h2>
      <img style="position: absolute; left: 47%;" src="./img/christmas/bell.png" data-speed="2" class="layer">
      <img style="position: absolute; left: 20%;" src="./img/christmas/candy.png" data-speed="6" class="layer">
      <img style="position: absolute; left: 70%;" src="./img/christmas/crystal-ball.png" data-speed="4" class="layer">
      <ul class="color-list">
         <li class="color-item">
            <img src="./img/title/iphone-silver.png" alt="iphone-silver">
            <h3>Silver</h3>
            <h4>Silver</h4>
            <p>Silvery</p>
            <p class="price">$999</p>
            <a class="buy" href="#buy">BUY</a>
         </li>
         <li class="color-item">
            <img src="./img/title/iphone-purple.png" alt="iphone-purple">
            <h3>Deep purple</h3>
            <h4>Deep purple</h4>
            <p>Plum</p>
            <p class="price">$999</p>
            <a class="buy" href="#buy">BUY</a>
         </li>
         <li class="color-item">
            <img src="./img/title/iphone-gold.png" alt="iphone-gold">
            <h3>Gold</h3>
            <h4>Gold</h4>
            <p>Golden</p>
            <p class="price">$999</p>
            <a class="buy" href="#buy">BUY</a>
         </li>
         <li class="color-item">
            <img src="./img/title/iphone-black.png" alt="iphone-black">
            <h3>Space Black</h3>
            <h4>Space Black</h4>
            <p>Space black</p>
            <p class="price">$999</p>
            <a class="buy" href="#buy">BUY</a>
         </li>
      </ul>
      <img style="position: absolute; left: 43%; z-index: -1;" src="./img/christmas/christmas-tree.png" data-speed="-2" class="layer">
   </div>
</section>