<section class="contacts" id="buy">
   <div class="contacts__container">
      <!--CHRISTMAS ICONS-->
      <img src="./img/christmas/christmas-tree.png" data-speed="-2" class="layer">
      <img style="position: absolute; left: 43%; z-index: -1;" src="./img/christmas/snowflake.png" data-speed="5" class="layer">
      <img style="position: absolute; left: 73%;" src="./img/christmas/wreath.png" data-speed="-4" class="layer">
      <!--CHRISTMAS ICONS-->
      <div class="contacts__items">
         <form class="contacts__form" action="/action_page.php">
            <h2>WANT IPHONE 14 PRO?</h2>
            <input class="contacts__input" type="text" required placeholder="Your name">
            <input class="contacts__input" type="tel" required placeholder="Phone number">
            <p>
               Our manager will contact you shortly
            </p>
            <button type="submit">ORDER</button>
         </form>
         <img src="./img/form/iphone-contact.jpg" alt="iphone">
      </div>
      <!--CHRISTMAS ICONS-->
      <img style="position: absolute; left: 74%;" src="./img/christmas/winter-sock.png" data-speed="22" class="layer">
      <!--CHRISTMAS ICONS-->
   </div>
</section>