<section class="contacts" id="buy">
   <div class="contacts__container" id="order">
      <!--CHRISTMAS ICONS-->
      <img style="position: absolute; left: 73%; z-index: -1;" src="./img/christmas/snowflake.png" data-speed="7" class="layer">
      <img style="position: absolute; left: 22%; z-index: -1;" src="./img/christmas/snowflake.png" data-speed="6" class="layer">
      <!--CHRISTMAS ICONS-->
      <div class="contacts__items">
         <form class="contacts__form" action="/action_page.php">
            <h2>WANT IPHONE 14 PRO?</h2>
            <input class="contacts__input" type="text" required placeholder="Your name">
            <input class="contacts__input" type="tel" required placeholder="Phone number">
            <p>
               Our manager will contact you shortly
            </p>
            <button type="submit">ORDER</button>
         </form>
         <img src="./img/form/iphone-contact.jpg" alt="iphone">
      </div>
   </div>
</section>