<header class="header" id="progresstop">
   <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
   </div>
   <div class="header__container">
      <nav class="header__nav">
         <ul class="header__menu">
            <li>
               <a href="#what's new">What's new</a>
            </li>
            <li>
               <a href="#color">Color</a>
            </li>
            <li>
               <a href="#order">Order</a>
            </li>
         </ul>
         <a class="header__logo" href="#">
            <img src="./img/logo/apple-logo.svg" alt="apple-logo">
         </a>
         <div class="header__phone">
            <a href="tel:380504565656">+38 050-456-56-56</a>
         </div>
      </nav>
   </div>
</header>