<section class="hero">
   <div class="hero__container">
      <div class="hero__items">
         <h1>IPHONE 14 PRO</h1>
         <img src="./img/hero/iphone-hero.png" alt="iphone">
         <!--CHRISTMAS ICONS-->
         <img src="./img/christmas/decoration-lamp.png" data-speed="-9" class="layer">
         <!--CHRISTMAS ICONS-->
         <a href="#">СHOOSE</a>
         <!--CHRISTMAS ICONS-->
         <img src="./img/christmas/santa-clous.png" data-speed="-7" class="layer">
         <img style="position: absolute; left: 10%;" src="./img/christmas/christmas-gift.png" data-speed="8" class="layer">
         <!--CHRISTMAS ICONS-->
      </div>
      <!--CHRISTMAS ICONS-->
      <img style="position: absolute; left: 18%;" src="./img/christmas/gift-sledge.png" data-speed="-6" class="layer">
      <!--CHRISTMAS ICONS-->
   </div>
</section>