<main class="home">
   <div class="home__content">
      <div id="one" class="element one">One</div>
      <div id="two" class="element two">two</div>
      <div class="element three">Three</div>
      <div class="element four">Four</div>
      <div class="element three">Five</div>
      <div class="element four">Six</div>
      <div class="element one">One</div>
      <div class="element three">Three</div>
      <div class="element four">Four</div>
      <div class="element three">Five</div>
      <div class="element four">Six</div>
      <div class="element one">One</div>
      <div class="element three">Three</div>
      <div class="element four">Four</div>
      <div class="element three">Five</div>
      <div class="element four">Six</div>
      <div class="element one">One</div>
   </div>
</main>