<section class="title">
   <div class="title__container">
      <h2>WHAT'S NEW</h2>
      <div class="title__items">
         <div class="title__describe">
            <!--CHRISTMAS ICONS-->
            <img style="position: absolute; left: 18%; z-index: -1;" src="./img/christmas/gift-sledge.png" data-speed="-6" class="layer">
            <!--CHRISTMAS ICONS-->
            <p>
               All models are equipped with A16 Bionic single-chip system, 48-megapixel main camera and ProMotion
               screens
               with Ceramic Shield protection and a frequency range of 1 - 120 Hz, as well as accelerated LPDDR5 memory.
               The design of the line has been updated, there are two cutouts on the front panel of smartphones.
            </p>
            <p>
               All iPhone 14s in the US will be sold without a SIM tray: the manufacturer says that improved eSIM
               technology will allow you to transfer old electronic SIM cards to new smartphones.
            </p>
            <!--CHRISTMAS ICONS-->
            <img style="position: absolute; left: 23%; z-index: -1;" src="./img/christmas/ball.png" data-speed="-5" class="layer">
            <img style="position: absolute; left: 45%; z-index: -1;" src="./img/christmas/snowman.png" data-speed="2" class="layer">
            <!--CHRISTMAS ICONS-->
            <p>
               The front camera has been updated (it is equipped with autofocus and recognizes the user faster in low
               light
               conditions) and the sensor of the main camera.
            </p>
            <b>
               The iPhone 14 Pro came out in a new design - without the branded “bangs”. A new color has also been added
               to
               the range. The smartphone, unlike the "regular" 14 iPhones, has an A16 Bionic processor, which can
               perform 4
               trillion photo operations per second.
            </b>
         </div>
         <div class="title__event_card">
            <audio id="beep" preload="auto">
               <source src="./img/beep.mp3.mp3">
            </audio>
            <p>CALLING <br> Vasya Melko</p>
            <img src="./img/title/iphone-news.png" alt="iphone">
            <img class="smile-call" src="./img/title/call-smile.png" alt="call">
            <img class="green-call" src="./img/title/call-green.png" alt="call">
            <img class="red-call" src="./img/title/call-red.png" alt="call">
         </div>
      </div>
   </div>
</section>