.color-iphone {
   font-family: "Inter";
   padding-bottom: 150px;

   &__container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;

      h2 {
         margin: 0 0 50px;
         text-transform: uppercase;
         text-align: center;
         color: $var3;
         font-size: 32px;
         line-height: 39px;
         font-weight: 700;
      }

      .color-list {
         display: flex;
         justify-content: space-between;
         text-align: center;
         .color-item {
            list-style: none;
            position: relative;
            overflow: hidden;
            &:nth-child(1){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transform: rotate(360deg);
                     transition: 0.6s;
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 42%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 34%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 80%;
                     right: 36%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
               }
            }
            &:nth-child(2){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transform: rotate(360deg);
                     transition: 0.6s;
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 21%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 38%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 80%;
                     right: 32%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
               }
            }
            &:nth-child(3){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transform: rotate(360deg);
                     transition: 0.6s;
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 40%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 39%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 80%;
                     right: 33%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
               }
            }
            &:nth-child(4){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transform: rotate(360deg);
                     transition: 0.6s;
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 21%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 39%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 80%;
                     right: 30%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
               }
            }
            h3 {
               font-size: 20px;
               line-height: 26px;
               margin: 0 0 10px;
            }
            h4{
               position: absolute;
               top: -100%;
               right: -100%;
            }
            .price {
               position: absolute;
               top: -100%;
               left: -100%;
               transition: 0.6s;
            }
            .buy{
               position: absolute;
               bottom: -100%;
               right: -100%;
               transition: 0.6s;
            }
            img{
               margin-bottom: 20px;
               transition: 0.6s;
            }
         }
      }
   }
}