.color-iphone {
   font-family: "Inter";
   padding-bottom: 150px;

   &__container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;

      h2 {
         margin: 0 0 50px;
         text-transform: uppercase;
         text-align: center;
         color: $var3;
         font-size: 32px;
         line-height: 39px;
         font-weight: 700;
      }

      .color-list {
         display: flex;
         justify-content: space-between;
         text-align: center;
         @media screen and (max-width: 1100px) {
            flex-wrap: wrap;
         }

         .color-item {
            list-style: none;
            position: relative;
            overflow: hidden;
            @media screen and (max-width: 1100px){
               width: 50%;
               margin-bottom: 30px;
            }
            @media screen and (max-width: 568px){
               width: 100%;
            }
            &:nth-child(1){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transition: 0.6s;
                     transform: scale(1.06);
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 40%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 37%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 68%;
                     right: 33%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
                  @media screen and (max-width: 1100px){
                     h4{
                        right: 45%;
                     }
                     .price{
                        left: 44%;
                     }
                     .buy{
                        top: 72%;
                        right: 42%;
                     }
                  }
               }
            }
            &:nth-child(2){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transition: 0.6s;
                     transform: scale(1.06);
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 21%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 38%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 68%;
                     right: 32%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
                  @media screen and (max-width: 1100px){
                     h4{
                        right: 37%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 72%;
                        right: 42%;
                     }
                  }
                  @media screen and (max-width: 1030px){
                     h4{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 992px){
                     h4{
                        right: 35%;
                     }
                     .buy{
                        right: 40%;
                     }
                  }
                  @media screen and (max-width: 938px){
                     h4{
                        right: 34%;
                     }
                     .buy{
                        right: 39%;
                     }
                  }
                  @media screen and (max-width: 880px){
                     h4{
                        right: 33%;
                     }
                     .price{
                        left: 44%;
                     }
                     .buy{
                        right: 38%;
                     }
                  }
                  @media screen and (max-width: 815px){
                     h4{
                        right: 32%;
                     }
                  }
                  @media screen and (max-width: 768px){
                     h4{
                        right: 31%;
                     }
                     .buy{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 730px){
                     h4{
                        right: 30%;
                     }
                     .price{
                        left: 43%;
                     }
                  }
                  @media screen and (max-width: 670px){
                     h4{
                        right: 28%;
                     }
                     .buy{
                        right: 35%;
                     }
                  }
                  @media screen and (max-width: 620px){
                     h4{
                        right: 26%;
                     }
                     .price{
                        left: 41%;
                     }
                  }
                  @media screen and (max-width: 568px){
                     h4{
                        right: 37%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 82%;
                        right: 42%;
                     }
                  }
                  @media screen and (max-width: 540px){
                     h4{
                        right: 36%;
                     }
                     .buy{
                        right: 40%;
                     }
                  }
                  @media screen and (max-width: 505px){
                     h4{
                        right: 35%;
                     }
                     .price{
                        left: 44%;
                     }
                  }
                  @media screen and (max-width: 465px){
                     h4{
                        right: 34%;
                     }
                  }
                  @media screen and (max-width: 438px){
                     h4{
                        right: 33%;
                     }
                     .buy{
                        right: 38%;
                     }
                  }
                  @media screen and (max-width: 410px){
                     h4{
                        right: 32%;
                     }
                     .buy{
                        right: 37%;
                     }
                  }
                  @media screen and (max-width: 385px){
                     h4{
                        right: 30%;
                     }
                     .buy{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 355px){
                     h4{
                        right: 29%;
                     }
                     .price{
                        left: 43%;
                     }
                     .buy{
                        right: 35%;
                     }
                  }
                  @media screen and (max-width: 335px){
                     h4{
                        right: 27%;
                     }
                     .price{
                        left: 41%;
                     }
                  }
               }
            }
            &:nth-child(3){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transition: 0.6s;
                     transform: scale(1.06);
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 40%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 39%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 68%;
                     right: 33%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
                  @media screen and (max-width: 1100px){
                     h4{
                        right: 46%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 72%;
                        right: 42%;
                     }
                  }
               }
            }
            &:nth-child(4){
               &:hover{
                  cursor: pointer;
                  img{
                     filter: blur(4px);
                     transition: 0.6s;
                     transform: scale(1.06);
                  }
                  h4{
                     position: absolute;
                     font-size: 24px;
                     top: 35%;
                     right: 21%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .price{
                     display: block;
                     position: absolute;
                     font-size: 20px;
                     top: 45%;
                     left: 39%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                  }
                  .buy{
                     display: flex;
                     align-items: center;
                     position: absolute;
                     font-size: 20px;
                     text-decoration: none;
                     border: 2px solid rgb(16, 165, 179);
                     border-radius: 30px;
                     padding: 20px;
                     height: 0%;
                     top: 68%;
                     right: 30%;
                     color: rgb(16, 165, 179);
                     transition: 0.6s;
                     &:hover{
                        background-color: $var4;
                     }
                  }
                  p, h3{
                     display: none;
                  }
                  @media screen and (max-width: 1100px){
                     h4{
                        right: 37%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 72%;
                        right: 42%;
                     }
                  }
                  @media screen and (max-width: 1100px){
                     h4{
                        right: 37%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 72%;
                        right: 42%;
                     }
                  }
                  @media screen and (max-width: 1030px){
                     h4{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 992px){
                     h4{
                        right: 35%;
                     }
                     .buy{
                        right: 40%;
                     }
                  }
                  @media screen and (max-width: 938px){
                     h4{
                        right: 34%;
                     }
                     .buy{
                        right: 39%;
                     }
                  }
                  @media screen and (max-width: 880px){
                     h4{
                        right: 33%;
                     }
                     .price{
                        left: 44%;
                     }
                     .buy{
                        right: 38%;
                     }
                  }
                  @media screen and (max-width: 815px){
                     h4{
                        right: 32%;
                     }
                  }
                  @media screen and (max-width: 768px){
                     h4{
                        right: 31%;
                     }
                     .buy{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 730px){
                     h4{
                        right: 30%;
                     }
                     .price{
                        left: 43%;
                     }
                  }
                  @media screen and (max-width: 670px){
                     h4{
                        right: 28%;
                     }
                     .buy{
                        right: 35%;
                     }
                  }
                  @media screen and (max-width: 620px){
                     h4{
                        right: 26%;
                     }
                     .price{
                        left: 41%;
                     }
                  }
                  @media screen and (max-width: 568px){
                     h4{
                        right: 37%;
                     }
                     .price{
                        left: 45%;
                     }
                     .buy{
                        top: 82%;
                        right: 42%;
                     }
                  }
                  @media screen and (max-width: 540px){
                     h4{
                        right: 36%;
                     }
                     .buy{
                        right: 40%;
                     }
                  }
                  @media screen and (max-width: 505px){
                     h4{
                        right: 35%;
                     }
                     .price{
                        left: 44%;
                     }
                  }
                  @media screen and (max-width: 465px){
                     h4{
                        right: 34%;
                     }
                  }
                  @media screen and (max-width: 438px){
                     h4{
                        right: 33%;
                     }
                     .buy{
                        right: 38%;
                     }
                  }
                  @media screen and (max-width: 410px){
                     h4{
                        right: 32%;
                     }
                     .buy{
                        right: 37%;
                     }
                  }
                  @media screen and (max-width: 385px){
                     h4{
                        right: 30%;
                     }
                     .buy{
                        right: 36%;
                     }
                  }
                  @media screen and (max-width: 355px){
                     h4{
                        right: 29%;
                     }
                     .price{
                        left: 42%;
                     }
                     .buy{
                        right: 35%;
                     }
                  }
                  @media screen and (max-width: 335px){
                     h4{
                        right: 27%;
                     }
                     .price{
                        left: 41%;
                     }
                  }
               }
            }
            h3 {
               color: $var1;
               font-size: 20px;
               line-height: 26px;
               margin: 0 0 10px;
            }
            p{
               color: $var1;
            }
            h4{
               position: absolute;
               top: -100%;
               right: -100%;
            }
            .price {
               position: absolute;
               top: -100%;
               left: -100%;
               transition: 0.6s;
            }
            .buy{
               position: absolute;
               bottom: -100%;
               right: -100%;
               transition: 0.6s;
            }
            img{
               margin-bottom: 20px;
               transition: 0.6s;
            }
         }
      }
   }
}