.contacts {
   font-family: "Inter";

   &__container {
      max-width: 1200px;
      margin: 0 auto;
      @media screen and (max-width: 1200px) {
         width: auto;
      }
      .contacts__items {
         display: flex;
         background-color: $var5;
         color: $var6;
         @media screen and (max-width: 1200px){
            flex-direction: column;
         }
         .contacts__form {
            width: 100%;
            padding: 140px 100px;
            text-align: center;
            @media screen and (max-width: 1200px){
               padding: 100px;
            }
            @media screen and (max-width: 576px){
               padding: 100px 50px;
            }
            @media screen and (max-width: 480px){
               padding: 100px 20px;
            }
            h2 {
               margin: 0 0 62px;
               text-transform: uppercase;
               font-size: 32px;
               line-height: 39px;
               text-align: left;
               @media screen and (max-width: 576px){
                  text-align: center;
               }
               @media screen and (max-width: 400px){
                  font-size: 24px;
               }
            }
            .contacts__input {
               padding: 10px;
               border: none;
               border-bottom: 1px solid $var6;
               display: block;
               width: 100%;
               margin-bottom: 20px;
               background-color: $var5;
               color: $var6;
               &::placeholder {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: 400;
                  font-family: "Inter Tight", sans-serif;
                  color: $var6;
                  opacity: 0.5;
               }
            }
            p {
               margin: 30px 0;
               text-align: center;
               opacity: 0.5;
            }
            button {
               border: none;
               text-transform: uppercase;
               color: $var4;
               background-color: $var6;
               border-radius: 30px;
               padding: 16px 81px;
               font-weight: 700;
               cursor: pointer;
               margin: 30px 0 138px 0;
               transition: 0.3s;
               @media screen and (max-width: 992px){
                  margin: 30px 0 70px 0;
               }
               @media screen and (max-width: 576px){
                  margin: 30px 0 0 0 ;
                  padding: 16px 58px;
               }
               &:hover{
                  background-color: $var1;
                  color: $var6;
                  transition: 0.3s;
               }
            }
         }
      }
   }
}