.hero {
   font-family: "Inter";
   .progresstop{
      background-color: $var6;
      color: $var4;
      position: fixed;
      bottom: 110px;
      right: 10px;
      height: 70px;
      width: 70px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;
      border: 2px solid #10a5b3;
      @media screen and (max-width: 576px){
         display: none;
      }
      &:hover{
         color: #10a5b3;
         background-color: $var4;
         transition: 0.3s;
      }
      .progress-item{
         font-size: 40px;
      }
   }

   &__container {
      background-color: $var2;
      text-align: center;
      padding: 70px 0 40px;

      .hero__items {
         max-width: 1200px;
         margin: 0 auto;
         padding: 0 15px;

         h1 {
            text-transform: uppercase;
            margin: 0 0 40px;
            color: $var4;
            font-weight: 700;
            font-size: 64px;
            line-height: 77px;
            @media screen and (max-width: 768px) {
               font-size: 50px;
               line-height: 57px;
            }
            @media screen and (max-width: 576px) {
               font-size: 36px;
               line-height: 42px;
            }
         }

         img {
            margin-bottom: 25px;
            transition: 0.3s;
            max-width: 100%;
            &:hover {
               cursor: pointer;
               transform: scale(1.08);
               transition: 0.3s;
            }
         }

         a {
            display: inline-block;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: $var6;
            background-color: $var4;
            border-radius: 30px;
            padding: 22px 117px 19px 118px;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
               background-color: $var5;
            }
            @media screen and (max-width: 576px) {
               font-size: 18px;
               line-height: 22px;
               padding: 16px 90px;
            }
         }
      }
   }
}
